body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.jumbotron {
 margin: 0;
}

h1 {
  font-size: 70px;
  text-shadow: 1.8px 1.8px black;
  margin-top: 40px;
}

.container-fluid {
  background-color: black;
}
